.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container * {
    margin: 0;
    padding: 0;
}

.container h1 {
    color: var(--second-color);
    font-size: 200px;
}

.container h3 {
    color: var(--second-color);
    font-size: 40px;
    margin: 30px;
}

.container h5 {
    color: var(--second-color);
    appearance: none;
    font-size: 20px;
}