.cp__form {
    padding: 7.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.cp__title__container {
    margin-bottom: 40px;
    width: 500px;
}

.cp__title {
    color: var(--second-color);
    font-size: 35px;
    text-align: right;
    margin: 0;
    padding: 0;
    animation: title 0.75s;
}

.cp__titleline {
    width: 0px;
    animation: bar 0.75s;
    animation-delay: 0.75s;
    animation-fill-mode: forwards;
    margin-inline-end: 0;
    opacity: 0;
}

.cp__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    animation: main 0.75s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    margin-inline-end: 0;
    opacity: 0;
}

.cp__column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input__block {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    padding: 10px;
}

.input__block .input__label {
    color: var(--second-color);
    font-size: large;
    font-weight: bold;
}

.input__block .input__text {
    padding: 10px 15px;
    width: 275px;
    border: 2px solid var(--second-color);
    background-color: var(--main-color);
    margin: 5px;
    border-radius: 5px;
    color: var(--second-color);
    transition: 0.3s all;
    font-size: larger;
}

.input__block .input__text:active,
.input__block .input__text:focus {
    border: 2px solid var(--third-color);
}

.old__password__block {
    position: relative;
}

.check__password {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 10px;
}

.change__password__btn {
    padding: 10px 0;
    width: 275px;
    border: 2px solid var(--third-color);
    background-color: var(--main-color);
    color: var(--second-color);
    border-radius: 5px;
    font-size: larger;
    margin: 5px;
    font-weight: 700;
    transition: 0.3s all;
    cursor: pointer;
}

.change__password__btn:hover {
    border: 2px solid var(--second-color);
    color: var(--third-color);
}

@keyframes title {
    from {
        margin-right: 50px;
        opacity: 0;
    }
    to {
        margin-right: 0;
        opacity: 1;
    }
}

@keyframes bar {
    0% {
        width: 0;
        opacity: 1;
    }
    100% {
        width: 500px;
        opacity: 1;
    }
}

@keyframes main {
    0% {
        margin-top: 50px;
        opacity: 0;
    }
    100% {
        margin-top: 0px;
        opacity: 1;
    }
}
