.return__btn {
    border: 0;
    background-color: transparent;
    color: var(--second-color);
    font-size: x-large;
    transition: 0.3s all;
    cursor: pointer;
}

.return__btn:hover {
    scale: 1.03;
}

.return__btn svg {
    transition: 0.3s all;
}

.return__btn:hover svg {
    margin-right: 10px;
}